@import "/src/index.scss";

.why-scube {
  padding: 4rem 15px !important;
  color: #555;
  overflow: hidden;

  // & > h2 {
  //   font-size: 2.4rem;
  //   font-weight: 300;
  //   text-align: center;
  //   margin: 1rem 0 4rem;
  //   text-transform: uppercase;
  //   letter-spacing: 1rem;
  //   letter-spacing: 6px;
  //   color: #555;

  //   &:after {
  //     display: block;
  //     height: 2px;
  //     background-color: var(--teal);
  //     content: "";
  //     width: 100px;
  //     margin: 0 auto;
  //     margin-top: 30px;
  //   }
  // }

  &__content {
    display: flex;
    justify-content: space-between;

    & > div:first-child {
      flex: 0 1 65%;
    }

    & > div:last-child {
      flex: 0 1 30%;
    }
  }
}

@media only screen and (max-width: 1900px) {
  .why-scube {
    &__content {
      flex-direction: column;
      gap: 4rem;
    }
  }
}
