.whyScubeCard {
  flex: 1 1 22%;
  text-align: center;
  background-color: #fff;
  /* min-width: 13rem; */
  /* width: 15rem; */

  /* width: 13rem; */
  /* height: 100%; */
  /* height:  */
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.4rem; */
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1.05);
  color: #555;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.whyScubeCard:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.whyScubeCard svg {
  font-size: 3.4rem !important;
  color: var(--teal) !important;
  stroke: #fff;
}

.whyScubeCardHeader {
  font-size: 1.3rem !important;
  /* font-weight: 500 !important; */
}
