.footer {
  padding-top: 20rem;
  color: #fff;
  background-image: url(../../../public/assets/footer-bg-1.png);
  position: relative;

  & > h2 {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    letter-spacing: 6px;
    color: #fff;

    &:after {
      display: block;
      height: 2px;
      background-color: var(--teal);
      content: "";
      width: 100px;
      margin: 0 auto;
      margin-top: 30px;
    }
  }

  & > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div {
      flex: 0 0 40%;
      overflow: hidden;
    }

    & > div:first-child {
      flex: 0 0 25%;
    }

    & > div:last-child {
      flex: 0 0 25%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    & > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
        flex: 0 1 auto;
      }

      & > div:first-child {
        order: 2;
        flex: 0 0 45%;
      }

      & > div:last-child {
        flex: 0 0 45%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    background-repeat: no-repeat;
    background-size: cover;

    & > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > div {
        flex: 0 1 auto;
      }

      & > div:first-child {
        order: 2;
        flex: 0 0 100%;
      }

      & > div:last-child {
        flex: 0 0 100%;
      }
    }
  }
}
